/* ======================================
	NAVIGATION - MOBILE FIRST
========================================= */
nav {
/* menu-toggle is the button */
	.menu-toggle {
		display:block;
		padding:10px;
		background:$yellow;
		color:$darkGreen;
		cursor:pointer;
		text-transform:uppercase;
		@include fontsize(20px);
	}
	.menu-toggle.toggled-on{
		background:$yellow;
	}
/* clg-menu is the ul */
	.clg-menu{
		display:none;
	}
	.clg-menu.toggled-on{
		display:block;
		position:relative;
		z-index:10;
	}
	.clg-menu {
		clear:both;
		/*margin-bottom: 60px;*/
		li {
			font-weight: $bold;
			a {
				background:$yellow;
				color:white;
				display:block;
				margin:1px 0; 
				padding:10px;
				font-weight: $bold;
			}
		}
		li a:hover{
			background:lightgray;
			color:white;
		}
	}
}
/* *****************************************
         768 and Up
******************************************** */
@media only screen and (min-width: 768px) {
	nav {
		.menu-toggle {
			display:none;
		}
		.clg-menu {
			display: block;
		}
		.clg-menu,
		.clg-menu * {
			margin:0;
			padding:0;
		}
		.clg-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			> li {
				flex-basis:20%;
				position:relative;
				text-align:center;
				padding:6px 0;
				ul {
					position:absolute;
					display:none;
					top:37px;
				}
			}
		}
		.clg-menu li:hover {
			background-color: $yellow;
			color:$darkGreen;
			ul {
				display: block;
				width:100%;
				li {
					text-align:left;
					a {
						display: block;
					}
				}
			}
		}
	}
}